{% load static %}
<nav class="navbar navbar-expand-lg navbar-secondary mt-3 py-3 rounded" style="background-color: #898AC4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'e_app:allProductsCategory' %}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown {% if 'e_app' in request.path %} active {% endif %}">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'e_app:allProductsCategory' %}">All Products</a>
            {% for i in links %}
            <a class="dropdown-item" href="{{i.get_url}}">{{i.name}}</a>
            {% endfor %}
          </div>
          </li>

        {% if item_count > 0 %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart"></i>({{item_count}})</a>
          </li>
        {% endif %}
      </ul>
      <form class="d-flex ms-auto mx-3 my-2 my-lg-0" action="{% url 'searchapp:search_result' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="q" aria-label="Search">
        <button class="btn custom-hover" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
</nav>




